<div class="columns">
  <section class="column">
    <div class="box">
      <div class="title">Trending Recipes</div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              {{#each trendings as |trending|}}
              <a href="/recipes/{{trending.id}}">
                <article class="tile is-child box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img
                          src="{{trending.img}}"
                          alt="An image of {{trending.name}}"
                        />
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{trending.name}}</strong>
                          <br />
                          <small>{{trending.user.user_name}}</small>
                        </p>
                      </div>
                    </div>
                  </article>
                </article>
              </a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="column is-four-fifths">
    <div id="mainColumn" class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img
              src="{{img}}"
              alt="An image of {{img.name}}"
            />
          </figure>
        </div>
        <div class="column column-is-four-fifths">
          <div class="media-content has-text-centered">
            <div class="content">
              <p>
                <h3>{{name}}</h3>
                <br />
                <small>Created by: {{user.user_name}}</small>
                <br />
                <small>on {{format_date date_created}}</small>
                <br />
                <br />
                <br />
                <br />
                {{description}}
              </p>

            </div>
          </div>
        </div>
      </article>
      <table class="table table is-bordered is-striped is-narrow is-hoverable">
        <thead>
          <tr>
            <th>Ingredients:</th>
          </tr>
        </thead>
        <tbody>
          {{#each ingredients as |ingredient|}}
          <tr>
            <td>{{ingredient.name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="table table is-bordered is-striped is-narrow is-hoverable">
        <thead>
          <tr>
            <th>Instructions:</th>
          </tr>
        </thead>
        <tbody>
          {{#each instructions as |instruction|}}
          <tr>
            <td>{{instruction.name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
